@using CongNghePhanMem.Models;
@model TinTuc

@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/LayoutHF.cshtml";
}
<div class="container">
    <div class="single-page-agile-info">
        <div class="show-top-grids-w3lagile">
            <div class="col-sm-8 single-left">
                <div class="song">
                    <br />
                    <div class="image">
                        <img src="@Url.Content("~/image/TinTuc/"+Model.AnhBia)" width="720" height="300" />
                    </div>
                    <div class="song-info">
                        <h3 style="color:orangered">@Model.TenTT</h3>
                    </div>
                    <h2 style="color:orangered">Nội dung:</h2><br />
                    <h4>@Model.MoTa</h4>
                </div>
                <br />
                <div class="song-grid-right">
                    <div class="share">
                        <h4>Share this</h4>
                        <div class="fb-like" data-href="http://localhost:51138/TinTuc/TinTuc?@Model.MaTT" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="fb-comments" data-href="http://localhost:51138/TinTuc/TinTuc?@Model.MaTT" data-numposts="5"></div>
            </div>
            <div class="col-md-4 single-right">
                <h3>Giảm giá nhiều</h3>
                <div class="single-grid-right">
                    @Html.Action("SachRight", "Sach")
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


